<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/cloud-fill.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app with flask</title>
</head>
<body>
 
    <div id="Title">
        <h1>Weather app</h1>
    </div>

    {% block content %}
    {% endblock %}

    <div class="mark">
<p class="trademark">© 2020 Devansh Pratap Singh.</p>
    </div>
    <div class="socialmedia">
  <ul>
    <div class="socialcenter">
      <li><a href="https://www.linkedin.com/in/devansh-pratap-singh-550b8118b/"><img src="https://i.ibb.co/WPwBgsg/linkedin-1.png" class="LinkedIn" alt=""> </a></li>
      <li><a href="https://www.instagram.com/devanshh25/"><img src="https://user-images.githubusercontent.com/53232548/102524933-a2d91900-40bf-11eb-8155-41b0abeca498.png" class="instagram" alt=""> </a></li>
      <li><a href="mailto:devanshpratap25@gmail.com"><img src="https://user-images.githubusercontent.com/53232548/102395648-719a1380-4001-11eb-9eca-412d7f169ddd.png" class="twitter" alt=""> </a></li>
    </div>

  </ul>
</div>
</body>
</html>