<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="/static/cloud-fill.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style1.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather in {{city}}</title>
</head>
<body>
    <div id="Title">
        <h1>Weather in {{city}}</h1>
    </div>
    <br>
    <br>
    <div>
        <h1>the Temperature in {{city}} is :</h1>
        <h1>{{temp_faren}}°F</h1>
        <h1>{{temp_celcius}}°C</h1>
        <h1>Humidity is {{humidity}}%</h1>
      </div>

      <br>

</body>
</html>